<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>My App</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light px-0">
            <div class="container">
                <span class="navbar-brand mb-0 h1">My App</span>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class=flashes>
            {% for category, message in messages %}
                <div class="rounded-0 alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    <div class="container">{{ message }}</div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    <div class="container pt-3">
        <div class="alert-success p-3 rounded">It works</div>
    </div>
    {% endblock %}
    <footer class="py-3">
        <div class="container text-muted small">© My App</div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>